.wrapper-galeri {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.wrapper-galeri .card {
    box-shadow: 5px 5px 5px grey;
    border-radius: 5px;
    height: 300px;
}

.wrapper-galeri .card img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}